<div class="pd-gateway-charts">
    <div class="row">
        <div class="col-xs-12 col-sm-6 pd-gateway-pagination-count"></div>
        <div class="col-xs-12 col-sm-6 pd-gateway-pagination">
            <span id="pd-gateway-pagination-prev">Prev</span>
            <span class="pagination-separator">|</span>
            <span id="pd-gateway-pagination-next">Next</span>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Renderer</th>
                <th>Author</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

{%include "chatsJS.html"%}
